@model VideoRental.Models.CustomerModels
@{
    ViewBag.Title = "CustomerView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
@*<h1>@Html.DisplayNameFor(model => model.Name)</h1>

@foreach (var item in Model)
{
<p> @Html.DisplayFor(modelItem => item.Name)</p>
}*@
