@model VideoRental.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer Details</h2>
<br />
<h4>Customer Id: @Model.Id</h4>
<h4>Customer Name: @Model.Name</h4>